body{
	background: gray;
}
#back{
	background: black;
	margin: 50px;
}
.c1{
	margin: 10px;
	margin-left: 20;
	padding: 10px;
	background: black;
	color: gray;
	width: 300px;
	display: inline-block;
}
.c2{
	margin-left: 100px;
}
.c3{

}
a:link{
	color: red;
}
a:Visited{
	color: green;
}
a:Hover{
	color: hotpink;
}
a;Active{
	color: white;
}